%%-*- mode: erlang -*-
{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_unused_import,
            warn_untyped_record]}.

{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", "master"}},
	{erlzmq, ".*", {git, "git://github.com/zeromq/erlzmq2.git", "master"}}
]}.
